<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<link rel="stylesheet" href="~/Content/Ride/createRide.css">


@model Acceler.Models.DTO.RideDTO

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h2>Kreiraj novu vožnju!</h2>

    <div id="ride_name_div">
        <h1>Prvo nadjeni ime svojoj novoj spektakularnoj vožnji!</h1>
        <div>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "editor_for_name", id = "name" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <button id="btn_name_dalje" class="btn_dalje" type="button">Dalje</button>
    </div>

    <div id="ride_date_div" style="display:none">
        <h1>Sada izaberi vrijeme polaska...</h1>
        <div>
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "editor_for_name", type = "text", id = "flatpickr" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })

        </div>
        <button id="btn_date_dalje" class="btn_dalje" type="button">Dalje</button>
    </div>

    <div id="ride_map_div" style="display:none;">
        <h3 id="instructions_h">Prvo možeš označiti polazište, a onda destinaciju.</h3>
        <div class="map-placeholder" style="display: flex; justify-content: center;">
            <div id="map" class="allMaps" style="height:80vh; width: 80%" ;"></div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            @Html.LabelFor(model => model.StartingPointLatitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartingPointLatitude, new { htmlAttributes = new { @class = "form-control", id = "startingPointLatitude" } })
                @Html.ValidationMessageFor(model => model.StartingPointLatitude, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.StartingPointLongitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartingPointLongitude, new { htmlAttributes = new { @class = "form-control", id = "startingPointLongitude" } })
                @Html.ValidationMessageFor(model => model.StartingPointLongitude, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.EndingPointLatitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndingPointLatitude, new { htmlAttributes = new { @class = "form-control", id = "endingPointLatitude" } })
                @Html.ValidationMessageFor(model => model.EndingPointLatitude, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.EndingPointLongitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndingPointLongitude, new { htmlAttributes = new { @class = "form-control", id = "endingPointLongitude" } })
                @Html.ValidationMessageFor(model => model.EndingPointLongitude, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AvoidHighways, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AvoidHighways, new { id = "avoidHighways", value = false })
                        @Html.ValidationMessageFor(model => model.AvoidHighways, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="waypoint-container" id="waypoint-container">
            </div>

            <button id="btn_map_dalje" class="btn_dalje" type="button">Dalje</button>
        </div>
    </div>
       

    <div id="ride_submit_div" style="display:none;">
        <h1>Spremni smo kada i ti!</h1>
        <input type="button" value="Create" class="btn_dalje" id="ajax"/>
    </div>

}

@section scripts {
    <script>
        flatpickr('#flatpickr', {
            dateFormat: 'Y-m-d H:i',
            enableTime: true,
            minDate: "today",
            time_24hr: true
        });
    </script>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnNameDalje = document.getElementById("btn_name_dalje");
        var btnDateDalje = document.getElementById("btn_date_dalje");
        var btnMapDalje = document.getElementById("btn_map_dalje");
        var rideNameDiv = document.getElementById("ride_name_div");
        var rideMapDiv = document.getElementById("ride_map_div");
        var rideDateDiv = document.getElementById("ride_date_div");
        var submitDiv = document.getElementById("ride_submit_div");

        if (btnNameDalje && rideNameDiv) {
            btnNameDalje.addEventListener("click", function () {
                rideNameDiv.style.display = "none";
                rideDateDiv.style.display = "flex";
            });
        }

        if (btnDateDalje && rideDateDiv) {
            btnDateDalje.addEventListener("click", function () {
                rideDateDiv.style.display = "none";
                rideMapDiv.style.display = "block";
            });
        }

        if (btnMapDalje && rideMapDiv) {
            btnMapDalje.addEventListener("click", function () {
                rideMapDiv.style.display = "none";
                submitDiv.style.display = "flex";
            });
        }
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApOmG9SZxHFO1__cGEGaeDaCPJtbVtV1w&callback=initMap&v=weekly"
        defer></script>

<script>
    var allWaypoints = [];
    async function initMap() {
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
        const directionsRenderer = new google.maps.DirectionsRenderer();
        const directionsService = new google.maps.DirectionsService();
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 9,
            center: { lat: 45.8150, lng: 15.9819 },
            mapId: "DEMO_MAP_ID",
            mapTypeId: 'roadmap',
        });

        directionsRenderer.setMap(map);

        var allMarkers = [];

        map.addListener('click', function (e) {
            if (allMarkers.length < 2) {
                selectedlat = e.latLng.lat();
                selectedlng = e.latLng.lng();

                const marker = new AdvancedMarkerElement({
                    map: map,
                    position: { lat: selectedlat, lng: selectedlng },
                    draggable: true,
                });
                allMarkers.push(marker);

                switch (allMarkers.length) {
                    case 1:
                        $('#startingPointLatitude').val(parseFloat(selectedlat));
                        $('#startingPointLongitude').val(parseFloat(selectedlng));
                        break;
                    case 2:
                        $('#endingPointLatitude').val(parseFloat(selectedlat));
                        $('#endingPointLongitude').val(parseFloat(selectedlng));
                        break;
                    default:
                        break;
                }

                marker.addListener('click', function (e) {
                    marker.setMap(null);
                    allMarkers.splice(allMarkers.indexOf(marker), 1);
                });
                if (allMarkers.length == 2) {
                    calculateAndDisplayRoute(directionsService, directionsRenderer, allMarkers, allWaypoints);
                    document.getElementById("instructions_h").textContent = "Sada označi usputne točke ako ih ima.";
                    map.addListener('click', function (e) {
                        selectedlat = e.latLng.lat();
                        selectedlng = e.latLng.lng();
                        const waypoint = { location: { lat: parseFloat(selectedlat), lng: parseFloat(selectedlng) } }
                        allWaypoints.push(waypoint);
                        calculateAndDisplayRoute(directionsService, directionsRenderer, allMarkers, allWaypoints);
                    })
                }
            }
            else {
                console.log("You can't place any more markers!");
            }
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer, allMarkers, waypoints) {
        directionsService
            .route({
                origin: new google.maps.LatLng(allMarkers[0].position),
                destination: new google.maps.LatLng(allMarkers[1].position),
                travelMode: "DRIVING",
                waypoints: waypoints
            })
            .then((response) => {
                directionsRenderer.setDirections(response);
            })
    }

    window.initMap = initMap;

    document.getElementById("ajax").addEventListener("click", function (e) {
        console.log("success")
        const obj = {
            Name: $('#name').val(),
            Date: $('#flatpickr').val(),
            StartingPointLatitude: $('#startingPointLatitude').val(),
            StartingPointLongitude: $('#startingPointLongitude').val(),
            EndingPointLatitude: $('#endingPointLatitude').val(),
            EndingPointLongitude: $('#endingPointLongitude').val(),
            Waypoints: allWaypoints.map(e => {
                return { Latitude: e.location.lat, Longitude: e.location.lng }
            })
        }
        $.ajax({
            type: "POST",
            url: "/Ride/Create",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            traditional: true,
            success: function () {
                @Url.Action("Rides", "Ride")
            }
        })
    })
</script>
